{% extends "base.html" %}
{% block title %}Studygroup | a Boston Python Project{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Studygroup</h1>

        <p class="lead">
            Create and manage small study groups inside Boston Python
        </p>

        {% if not g.user %}
        <p>
            <a class="btn btn-lg btn-success"
               href="{{ url_for('studygroup.login') }}"
               role="button">Sign In Now</a>
        </p>
        {% else %}
        <p>
            Welcome, {{ g.user.full_name }}
        </p>
        {% endif %}
    </div>

    {% for group in groups %}
        <div class="row marketing">
            <div class="col-lg-6">
                <h4><a href="{{ url_for('group.show_group', id=group.id) }}">{{ group.name }}</a></h4>
                <p>{{ group.description }}</p>
                <h3>{{ group.max_members}}</h3>
                {% if group.is_full() %}
                <p>Full</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
